**
!package.json
!package-lock.json
!tsconfig.json
!LICENSE
!README.md
!README.zh-CN.md
!src/
!src/**
!scripts/
!scripts/clean-dist.mjs
!protocol/
!protocol/**
!docker/
!docker/entrypoint.sh
!docker/healthcheck.mjs
!web/
!web/package.json
!web/package-lock.json
!web/tsconfig.json
!web/vite.config.ts
!web/index.html
!web/src/
!web/src/**
web/node_modules/
web/dist/
